@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.img_right_bottom {
    width: 30%;
    height: 30%;
}

.img_top_left {
    width: 30%;
    height: 30%;
}

.welcome_text {
    font-family: 'Roboto', sans-serif;
}

.application_name {
    font-weight: 600;
    font-size: 300%;
    margin-top: 0;
}

.sub_text {
    font-style: italic;
}

.btn {
    text-align: center;
}

h2 {
    font-weight: 500;
}